DB_HOST=ktfs-db
DB_PORT=5432
DB_NAME="ktfs"
DB_USER="ktfs"
DB_PASSWORD="ktfs"

JWT_PRIVATE_KEY="base64:xcb9mEYSYy57c97qiC26hJ0Zs7QjmSNfG8FuVi0OsTZo8FmVrVxNIfXIqOT9LXdBiRXPGswvAkvFlA6ivlZc5A=="
JWT_TTL=3600